Cước Phí.json
{
  "name": "Cước Phí",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        -256
      ],
      "id": "7fe25f66-251f-4a36-b5b2-af1b44a64ace",
      "name": "Merge 1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        -32
      ],
      "id": "f169083d-976e-4b9b-a4b4-54407dbc7257",
      "name": "Merge 2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "giaCuoc"
            }
          ]
        },
        "options": {
          "disableDotNotation": false
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        400,
        -32
      ],
      "id": "43bb7641-8404-40ca-8404-994c1c5c42fc",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        592,
        -32
      ],
      "id": "18e0fba6-afab-4561-a902-0c2b855b69f7",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "885c1b5a-b12c-41bf-be54-cc7ad4985c76",
              "name": "tenHang",
              "value": "Viettel Post",
              "type": "string"
            },
            {
              "id": "83bb39c7-c133-4fd1-a8ee-18241567d22c",
              "name": "giaCuoc",
              "value": "={{ 20000 + ($json.packageWeight/ 1000 * 4000) + ($json.distanceKm * 1000) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -336
      ],
      "id": "f1e8b712-f351-41f9-8fc7-c13f24059d48",
      "name": "Viettel Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9f50a48-a503-4d6b-9e29-471dd9856a22",
              "name": "tenHang",
              "value": "GHTK",
              "type": "string"
            },
            {
              "id": "5116afea-0ce1-4825-bac6-66b33d3cf1b1",
              "name": "giaCuoc",
              "value": "={{ 15000 + ( $json.packageWeight/ 1000 * 5000) + ( $json.distanceKm* 2000) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": "={{ true }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -176
      ],
      "id": "2547d882-2366-4656-9bd4-bdd8e7efbc60",
      "name": "GHTK"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5515ddbc-3d0d-4a16-a55c-9fc510f70539",
              "name": "tenHang",
              "value": "Ahamove",
              "type": "string"
            },
            {
              "id": "e73f0da1-bfa9-40eb-8914-58c47404e11d",
              "name": "giaCuoc",
              "value": "={{ 25000 + ($json.packageWeight/ 1000 * 2000) + ($json.distanceKm* 3000) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -16
      ],
      "id": "f733a4bd-43f2-4f7f-809b-42a7917709b3",
      "name": "Ahamove"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ad62949-313c-4525-8ce6-9cd7f994442e",
              "name": "customerName",
              "value": "Tran Le Nguyen Hai",
              "type": "string"
            },
            {
              "id": "b5f51340-9924-432d-82c5-c01d1b33f030",
              "name": "packageWeight",
              "value": 200,
              "type": "number"
            },
            {
              "id": "eb02027f-3a35-4ac4-863a-7584a27bc4d8",
              "name": "distanceKm",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        0
      ],
      "id": "6f79f6cb-2804-4fa6-97e0-ce4fae39c721",
      "name": "Nhận Đơn Hàng"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "72d7961a-5b7b-4b4e-b0c6-2f3c25e2d46c",
              "leftValue": "={{ $json.packageWeight }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        0
      ],
      "id": "00a5ce86-bfb5-4b64-b110-b7f7e379b554",
      "name": "(If)Kiểm Tra Cân Nặng"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6802cc3-47f1-4be3-ba2e-1e3907871e08",
              "name": "status",
              "value": "Cân nặng không hợp lệ!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        176
      ],
      "id": "88002de4-eda4-4b96-8829-28aaf2773dee",
      "name": "Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        0
      ],
      "id": "ccf972a1-b48a-42b0-820c-08c6a52d067a",
      "name": "Kích Hoạt Thủ Công"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge 1": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 2": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Viettel Post": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHTK": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ahamove": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Nhận Đơn Hàng": {
      "main": [
        [
          {
            "node": "(If)Kiểm Tra Cân Nặng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(If)Kiểm Tra Cân Nặng": {
      "main": [
        [
          {
            "node": "Ahamove",
            "type": "main",
            "index": 0
          },
          {
            "node": "Viettel Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "GHTK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kích Hoạt Thủ Công": {
      "main": [
        [
          {
            "node": "Nhận Đơn Hàng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "98e2325b-c669-4490-994e-81af045aec26",
  "meta": {
    "instanceId": "de058d4aefe58bc13394d82c46d5281a477119633d2e9f255b23579291dcc073"
  },
  "id": "DuxjXlhVsm5Bc3fO",
  "tags": []
}