n8n-workflows/AI Logistics.json
{
  "name": "AI Logistics",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Da Nang&appid=9fc4a547b9a7546e1156b51d33af4c8f&lang=vi&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3504,
        -80
      ],
      "id": "628da7b2-d56e-4a14-a87f-81a3426f663f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3f14070-beed-4834-9921-2f3e56666de6",
              "leftValue": "={{ $('Code in JavaScript').item.json.tinh_chat_hang }}",
              "rightValue": "NORMAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2288,
        -80
      ],
      "id": "a9022b34-7ad3-4204-af92-84d4fec75260",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b599e58-f8e0-4613-8235-a0370fa01bfb",
              "name": "estimated_delivery",
              "value": "3-5 ngày",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        16
      ],
      "id": "4945f759-c2a7-49f9-955d-cde7e1b6d1ca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ten_nguoi_nhan\": \"{{ $('Execute a SQL query2').item.json.receiverName }}\",\n  \"sdt_nhan\": \"{{ $('Execute a SQL query2').item.json.receiverPhone }}\",\n  \"quang_duong\": \"{{ $('Execute a SQL query2').item.json.distanceKm }}\",\n  \"tinh_chat_hang\": \"{{ $('Code in JavaScript').item.json.tinh_chat_hang }}\",\n  \"phi_de_vo\": \"{{ $('Code in JavaScript').item.json.phi_de_vo }}\",\n  \"thoi_tiet\": \"{{ $('HTTP Request').first().json.weather[0].description }}\",\n  \"phi_thoi_tiet\": \"{{ $('Code in JavaScript').first().json.phi_thoi_tiet }}\",\n  \"tong_tien\": \"{{ $('Code in JavaScript').item.json.tong_tien }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2080,
        -176
      ],
      "id": "ee36e3f5-b4ad-4fbe-82b4-88a9d09ab84c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ten_nguoi_nhan\": \"{{ $('Execute a SQL query2').item.json.receiverName }}\",\n  \"sdt_nhan\": \"{{ $('Execute a SQL query2').item.json.receiverPhone }}\",\n  \"quang_duong\": \"{{ $('Execute a SQL query2').item.json.distanceKm }}\",\n  \"tinh_chat_hang\": \"{{ $('Code in JavaScript').item.json.tinh_chat_hang }}\",\n  \"phi_de_vo\": \"{{ $('Code in JavaScript').item.json.phi_de_vo }}\",\n  \"thoi_tiet\": \"{{ $('HTTP Request').first().json.weather[0].description }}\",\n  \"phi_thoi_tiet\": \"{{ $('Code in JavaScript').first().json.phi_thoi_tiet }}\",\n  \"tong_tien\": \"{{ $('Code in JavaScript').item.json.tong_tien }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1664,
        16
      ],
      "id": "f2af4b1e-a051-4980-855f-038f18251655",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-logistic-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4176,
        -80
      ],
      "id": "c1d2b192-bd5c-4a96-bc66-140e5df9990b",
      "name": "Webhook",
      "webhookId": "7802664b-d69a-41d5-bdad-ffb08246eae6"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://103.118.29.21:8000/api/orders/{{ $('Webhook').item.json.body.orderId }}/ai-update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"additionalFee\": 0,\n  \"status\": \"STANDARD_SHIPPING\",\n  \"noteAppend\": \" | AI_TAG: NORMAL\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2464,
        -80
      ],
      "id": "0d1e21ec-cccf-4eb6-9439-a0ec822f37f7",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://103.118.29.21:8000/api/orders/{{ $('Webhook').item.json.body.orderId }}/ai-update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"additionalFee\": 0,\n  \"status\": \"STANDARD_SHIPPING\",\n  \"noteAppend\": \" | AI_TAG: NORMAL\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1872,
        16
      ],
      "id": "4be8a434-c2ba-418b-a51f-f84ffa76c126",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "http://103.118.29.21:8000/api/orders/latest",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3968,
        -80
      ],
      "id": "17f414bf-53f1-4453-9445-00d016842695",
      "name": "Execute a SQL query2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Hãy phân tích thông tin đơn hàng và trả về kết quả JSON theo đúng quy tắc đã cài đặt.",
        "messages": {
          "messageValues": [
            {
              "message": "=Bạn là hệ thống AI Điều phối Logistics chuyên nghiệp. Hãy phân tích thông tin đơn hàng sau: - Ghi chú: \"{{ $json.weather[0].description }}\" - Thời tiết: \"{{ $('Execute a SQL query2').item.json.note }}\"  NHIỆM VỤ BẮT BUỘC:  Trả về ĐÚNG 1 đối tượng JSON. TUYỆT ĐỐI KHÔNG giải thích, KHÔNG chào hỏi, KHÔNG bọc trong markdown (```json).  Cấu trúc JSON phải tuân thủ nghiêm ngặt logic sau: {   \"tinh_chat_hang\": \"Điền 'FRAGILE' (nếu ghi chú nhắc đồ dễ vỡ/thủy tinh/gốm), 'URGENT' (nếu giục gấp/giao ngay), 'NORMAL' (nếu bình thường).\",   \"phi_de_vo\": \"Điền số 5000 nếu tinh_chat_hang là FRAGILE. Điền số 10000 nếu là URGENT. Còn lại điền 0.\",   \"thoi_tiet\": \"Dịch tình trạng thời tiết ở trên sang tiếng Việt ngắn gọn (VD: Mây rải rác, Mưa nhẹ, Nắng đẹp).\",   \"phi_thoi_tiet\": \"Điền số 15000 nếu thời tiết chứa các từ: rain, storm, drizzle, mưa, bão. Nếu không thì điền số 0.\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -3232,
        -64
      ],
      "id": "b87ff317-f7da-45d2-875d-445b049d9ec4",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -3216,
        208
      ],
      "id": "cfe36032-b0ad-4a67-b9dd-bef7997189f5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "F0660oiHuE8wv0Cv",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy kết quả văn bản từ Llama 3\nlet rawText = $input.item.json.text;\n\n// 2. BỘ LỌC CHỐNG ĐẠN (TÌM VÀ CẮT ĐÚNG PHẦN JSON)\n// Dù AI có nói nhảm gì trước hay sau, nó chỉ lấy phần nằm giữa { và }\nlet jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n    rawText = jsonMatch[0];\n}\n\n// 3. Dịch sang object an toàn\nlet aiData = {};\ntry {\n    aiData = JSON.parse(rawText);\n} catch (e) {\n    // Kịch bản dự phòng: Rủi AI xuất tào lao thì tự gán mặc định để KHÔNG BAO GIỜ SẬP\n    aiData = {\n        tinh_chat_hang: \"FRAGILE\",\n        phi_de_vo: 5000,\n        thoi_tiet: \"Chưa xác định\",\n        phi_thoi_tiet: 0\n    };\n}\n\n// 4. Lấy Quãng đường từ Webhook\nlet quangDuong = $('Webhook').item.json.body.distance || 0;\nlet phiShipGoc = quangDuong * 5000;\n\n// 5. Gom phụ phí\nlet phiDeVo = parseInt(aiData.phi_de_vo) || 0;\nlet phiThoiTiet = parseInt(aiData.phi_thoi_tiet) || 0;\n\nlet tongTien = phiShipGoc + phiDeVo + phiThoiTiet;\n\n// 6. Trả về cho Laravel hiển thị Hóa đơn\nreturn {\n    \"tinh_chat_hang\": aiData.tinh_chat_hang,\n    \"phi_de_vo\": phiDeVo,\n    \"thoi_tiet\": aiData.thoi_tiet,\n    \"phi_thoi_tiet\": phiThoiTiet,\n    \"quang_duong\": quangDuong,\n    \"tong_tien\": tongTien\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        -64
      ],
      "id": "3d2ba41a-d45b-4632-910f-25534a02244d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://103.118.29.21:5678/webhook/e99d1f26-3a52-49d9-93e5-ed402977fcb6",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"weight\": {{$json.body.weight}},\n  \"sender_address\": \"{{$json.body.sender_address}}\",\n  \"receiver_address\": \"{{$json.body.receiver_address}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3712,
        -80
      ],
      "id": "5bd269aa-0708-4c47-9554-a9780c97cad4",
      "name": "HTTP Request3"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5783b76f-51c5-4d96-8e62-7ba0ea58351c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccd245c7789a7fa6fbebf8f4ac02c10f5def7c00eea7d6fde7f7ca90e02f914e"
  },
  "id": "5pYTzIgg8n25mozH",
  "tags": []
}