n8n-workflows/AI Smart Logistics .json
{
  "name": "AI Smart Logistics",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Da Nang&appid=9fc4a547b9a7546e1156b51d33af4c8f&lang=vi&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1216,
        96
      ],
      "id": "65499d61-0810-42d1-b796-c6c148cb6f56",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là hệ thống AI Điều phối Logistics.\nTôi có 1 đơn hàng với thông tin:\n- Ghi chú: \"{{ $('Execute a SQL query').item.json.note }}\"\n- Thời tiết: \"{{ $('HTTP Request').item.json.weather[0].description }}\"\n\nHãy trả về ĐÚNG 1 đoạn JSON (không giải thích) gồm 3 biến:\n1. \"tag\": Điền \"FRAGILE\" (nếu ghi chú nhắc đồ dễ vỡ/thủy tinh), \"URGENT\" (nếu giục gấp), \"NORMAL\" (nếu bình thường).\n2. \"weather_surcharge\": Điền 5000 nếu thời tiết có chữ \"mưa\" hoặc \"bão\". Nếu không điền 0.\n3. \"risk_surcharge\": Điền 5000 nếu tag là FRAGILE. Điền 20000 nếu tag là URGENT. Còn lại điền 0."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -976,
        96
      ],
      "id": "1ebbc3be-ffc5-40d0-a497-92afb8b0d69d",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "rdrhDESsG81idezl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let phi_ship_goc = $('Execute a SQL query').first().json.shipping_fee;\nif (!phi_ship_goc || phi_ship_goc === 0) phi_ship_goc = 30000; // Phao cứu sinh\n\nlet tag_phan_loai = \"NORMAL\";\nlet phi_thoi_tiet = 0;\nlet phi_rui_ro = 0;\n\ntry {\n    let rawText = $input.first().json.content?.parts?.[0]?.text || $input.first().json.text || \"\";\n    rawText = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n    let aiData = JSON.parse(rawText);\n\n    tag_phan_loai = aiData.tag || \"NORMAL\";\n    phi_thoi_tiet = aiData.weather_surcharge || 0;\n    phi_rui_ro = aiData.risk_surcharge || 0;\n} catch (error) {}\n\nlet tong_phu_phi = phi_thoi_tiet + phi_rui_ro;\nlet tong_chi_phi = phi_ship_goc + tong_phu_phi;\n\n// Trả đủ biến không thiếu 1 cắc để If và Webhook xài\nreturn {\n    tag_phan_loai: tag_phan_loai,\n    phi_thoi_tiet: phi_thoi_tiet,\n    phi_rui_ro: phi_rui_ro,\n    tong_phu_phi: tong_phu_phi,\n    tong_chi_phi: tong_chi_phi \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        96
      ],
      "id": "c2e22c4b-cc87-46be-9998-f9967d4c71a3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3f14070-beed-4834-9921-2f3e56666de6",
              "leftValue": "={{ $('Code in JavaScript').item.json.tag_phan_loai }}",
              "rightValue": "NORMAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "ba8303e5-02df-46d4-8448-20b88450c17f",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b599e58-f8e0-4613-8235-a0370fa01bfb",
              "name": "estimated_delivery",
              "value": "3-5 ngày",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "6cc459fc-3138-4c4e-bd63-a927afb96909",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ten_nguoi_nhan\": \"{{ $('Execute a SQL query').first().json.receiver_name }}\",\n  \"sdt_nhan\": \"{{ $('Execute a SQL query').first().json.receiver_phone }}\",\n  \"quang_duong\": \"{{ $('Execute a SQL query').first().json.distance_km }}\",\n  \"tinh_chat_hang\": \"{{ $('Code in JavaScript').first().json.tag_phan_loai }}\",\n  \"phi_de_vo\": \"{{ $('Code in JavaScript').first().json.phi_rui_ro }}\",\n  \"thoi_tiet\": \"{{ $('HTTP Request').first().json.weather[0].description }}\",\n  \"phi_thoi_tiet\": \"{{ $('Code in JavaScript').first().json.phi_thoi_tiet }}\",\n  \"tong_tien\": \"{{ $('Code in JavaScript').first().json.tong_chi_phi }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "69a180cf-c322-4338-9733-bb64a9da95f2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ten_nguoi_nhan\": \"{{ $('Execute a SQL query').first().json.receiver_name }}\",\n  \"sdt_nhan\": \"{{ $('Execute a SQL query').first().json.receiver_phone }}\",\n  \"quang_duong\": \"{{ $('Execute a SQL query').first().json.distance_km }}\",\n  \"tinh_chat_hang\": \"{{ $('Code in JavaScript').first().json.tag_phan_loai }}\",\n  \"phi_de_vo\": \"{{ $('Code in JavaScript').first().json.phi_rui_ro }}\",\n  \"thoi_tiet\": \"{{ $('HTTP Request').first().json.weather[0].description }}\",\n  \"phi_thoi_tiet\": \"{{ $('Code in JavaScript').first().json.phi_thoi_tiet }}\",\n  \"tong_tien\": \"{{ $('Code in JavaScript').first().json.tong_chi_phi }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        192
      ],
      "id": "c74475f5-28a5-4e40-830f-8ee65820f840",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-logistic-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1648,
        96
      ],
      "id": "be056a11-21a5-4906-aca5-01a527e0ef84",
      "name": "Webhook",
      "webhookId": "7802664b-d69a-41d5-bdad-ffb08246eae6"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://192.168.114.44:8080/api/orders/{{ $('Execute a SQL query').item.json.id }}/ai-update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"additionalFee\": 0,\n  \"status\": \"STANDARD_SHIPPING\",\n  \"noteAppend\": \" | AI_TAG: NORMAL\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        96
      ],
      "id": "415538d8-0369-4a56-ae73-e298f295e8ea",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://192.168.114.44:8080/api/orders/{{ $('Execute a SQL query').item.json.id }}/ai-update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"additionalFee\": 0,\n  \"status\": \"STANDARD_SHIPPING\",\n  \"noteAppend\": \" | AI_TAG: NORMAL\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        192
      ],
      "id": "5712e0b7-e8de-47af-bfdc-cf99898ab816",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "http://192.168.114.44:8080/api/orders/latest",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1424,
        96
      ],
      "id": "c3f7a535-ee69-4c26-a94a-c44133ecde04",
      "name": "Execute a SQL query2"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "07f56b0a-51fe-48ad-9fc4-79fa728c2830",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41a423f4825653465e2469bf71de92a24ac991e284c54f9bff05c348b90ad7af"
  },
  "id": "fMpSuTaddU1FdJ6L",
  "tags": []
}