n8n-workflows/Báo Cáo Chốt Ca Cuối Ngày.json
{
  "name": "Báo Cáo Chốt Ca Cuối Ngày",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "87dd990c-b23d-48da-9cee-4d2419d8a214",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    COUNT(*) as tong_don, \n    COALESCE(SUM(shipping_fee), 0) as tong_tien \nFROM orders;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "6b5e6b33-d8e1-4ad9-a078-8cb6958bb549",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "v11D932eBRE84CgQ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "lehuuthai57@gmail.com",
        "toEmail": "thailh.23ite@vku.udn.vn",
        "subject": "=Báo Cáo Chốt Ca Cuối Ngày",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px;\">\n    <h2 style=\"color: #2e6c80; text-align: center;\">Báo Cáo Chốt Ca Cuối Ngày 📦</h2>\n    <p>Hệ thống tự động xin gửi báo cáo tổng hợp chi phí vận chuyển như sau:</p>\n    \n    <table style=\"width: 100%; border-collapse: collapse; margin-top: 20px;\">\n        <tr style=\"background-color: #f2f2f2;\">\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Chỉ số Vận Hành</th>\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Kết quả</th>\n        </tr>\n        <tr>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Tổng số đơn đã điều phối</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #d9534f;\"><b>{{ $json.tong_don }}</b> đơn</td>\n        </tr>\n        <tr>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Tổng chi phí cước (VNĐ)</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #5cb85c;\"><b>{{ $json.tong_tien }}</b> đ</td>\n        </tr>\n    </table>\n    <p style=\"margin-top: 30px; font-size: 12px; color: #777; text-align: center;\"><i>Hệ thống n8n của nhóm Thái & Hải.</i></p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        400,
        16
      ],
      "id": "47488ac7-ed4d-454d-9f02-3f920c6294f5",
      "name": "Send an Email",
      "webhookId": "123ac1ea-fc10-435a-9bd1-03f694747579",
      "credentials": {
        "smtp": {
          "id": "7mQetV8Ou9vGmj3L",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1a40bd87-8d5d-4c81-a9de-62dd70de61af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b96901c6a8f53cde4aeb9ec81d0d8f066cc30ec7281146839f9f5e0ff3f7af5"
  },
  "id": "z2QuEXIDhTMX4cAr",
  "tags": []
}