n8n-workflows/chatbot.json
{
  "name": "chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "toi-uu-logistics",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2032,
        32
      ],
      "id": "12e54a80-2f80-407b-b42d-7f822f154e42",
      "name": "Webhook",
      "webhookId": "7e4fcc97-1ea5-4bdd-8c8f-f25c2fe75a50"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $('Webhook').item.json.body;\nconst weatherData = $('HTTP Request1').item.json; \nconst orders = rawData.orders;\n\nconst weatherId = weatherData.weather[0].id;\nconst isRaining = weatherId < 700; \nconst weatherSurcharge = isRaining ? 15000 : 0;\n\nconst MAX_WEIGHT = 30; \nlet trips = [];\n\norders.forEach(order => {\n    // TỰ ĐỘNG GÁN TỌA ĐỘ GIẢ LẬP NẾU THIẾU (Tránh lỗi HTTP Request)\n    if (!order.lat) order.lat = (16.06 + Math.random() * 0.02).toFixed(6);\n    if (!order.lng) order.lng = (108.21 + Math.random() * 0.02).toFixed(6);\n\n    let weight = parseFloat(order.weight);\n    let isFragile = (order.tinh_chat === \"FRAGILE\");\n\n    if (weight > MAX_WEIGHT) {\n        trips.push({ \n            tripId: trips.length + 1, \n            vehicle: \"TRUCK\", \n            totalWeight: weight, \n            surcharge: (isFragile ? 10000 : 0) + weatherSurcharge,\n            orders: [order] \n        });\n        return;\n    }\n\n    let placed = false;\n    for (let trip of trips) {\n        if (trip.vehicle === \"MOTORBIKE\" && (trip.totalWeight + weight) <= MAX_WEIGHT) {\n            trip.orders.push(order);\n            trip.totalWeight += weight;\n            trip.surcharge += (isFragile ? 10000 : 0);\n            placed = true;\n            break;\n        }\n    }\n\n    if (!placed) {\n        trips.push({ \n            tripId: trips.length + 1, \n            vehicle: \"MOTORBIKE\", \n            totalWeight: weight, \n            surcharge: (isFragile ? 10000 : 0) + weatherSurcharge,\n            orders: [order] \n        });\n    }\n});\n\nreturn trips.map(trip => ({ \n    json: { \n        tripData: trip, \n        isRaining: isRaining \n    } \n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        208
      ],
      "id": "3fd251b9-06b5-4cd9-9748-fcf0c2b43679",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1216,
        208
      ],
      "id": "eadb7503-e188-4c43-92de-de689e4f3c85",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=http://router.project-osrm.org/trip/v1/driving/108.2150,16.0650;{{ $json.tripData.orders.map(order => order.lng + ',' + order.lat).join(';') }}?source=first&roundtrip=true",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -880,
        288
      ],
      "id": "e26a7ff3-190e-4f49-b112-19d589453a3e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -704,
        128
      ],
      "id": "585b30e5-9e98-4be0-a025-84fba263f4af",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy dữ liệu OSRM và Dữ liệu từ Node chia đơn\nconst osrmResults = $('HTTP Request').all(); \nconst originalTrips = $('Code in JavaScript').all().map(item => item.json);\n\nlet tongGiaoLe = 0; \nlet tongGop = 0; \nlet mapTrips = [];\n\n// Thu thập tất cả đơn để tính scale tọa độ\nconst allOrdersFlat = originalTrips.flatMap(t => t.tripData.orders);\nconst hasRealCoords = allOrdersFlat.some(o => o.lat && parseFloat(o.lat) > 0);\n\nfunction latLngToPixel(lat, lng, allOrders, mapW, mapH, pad) {\n    const lats = allOrders.map(o => parseFloat(o.lat)).filter(v => v > 0);\n    const lngs = allOrders.map(o => parseFloat(o.lng)).filter(v => v > 0);\n    if (lats.length === 0) return null;\n    const minLat = Math.min(...lats), maxLat = Math.max(...lats);\n    const minLng = Math.min(...lngs), maxLng = Math.max(...lngs);\n    const rangeX = (maxLng - minLng) || 0.001;\n    const rangeY = (maxLat - minLat) || 0.001;\n    const px = Math.round(pad + ((parseFloat(lng) - minLng) / rangeX) * (mapW - 2 * pad));\n    const py = Math.round(pad + ((maxLat - parseFloat(lat)) / rangeY) * (mapH - 2 * pad));\n    return { x: px, y: py };\n}\n\n// 2. Kế toán tính tiền chi tiết cho từng chuyến & OSRM Sắp xếp Lộ trình\nconst finalTrips = osrmResults.map((osrmItem, index) => {\n    let t = originalTrips[index].tripData;\n    let isRain = originalTrips[index].isRaining;\n    let osrmData = osrmItem.json; \n    \n    let distKm = parseFloat((osrmData.trips[0].distance / 1000).toFixed(1)); \n    let WEATHER_SURCHARGE = isRain ? 15000 : 0;\n    \n    let phiCoBan = t.vehicle === \"TRUCK\" ? 50000 : 15000;\n    let phiKm = distKm * 5000;\n    let phiRotDiem = (t.orders.length - 1) * 5000;\n    \n    let phiDeVo = 0;\n    t.orders.forEach(o => {\n        let isFragile = (o.tinh_chat === \"FRAGILE\" || o.category === \"FRAGILE\");\n        if (isFragile) phiDeVo += 10000;\n        tongGiaoLe += 15000 + (isFragile ? 10000 : 0) + (distKm * 5000) + WEATHER_SURCHARGE;\n    });\n\n    let tongChuyen = phiCoBan + phiKm + phiRotDiem + phiDeVo + WEATHER_SURCHARGE;\n    tongGop += tongChuyen;\n\n    let waypoints = osrmData.waypoints; \n    let sortableOrders = [];\n\n    for(let i = 1; i < waypoints.length; i++) {\n        sortableOrders.push({\n            order: t.orders[i-1], \n            optimized_step: waypoints[i].waypoint_index\n        });\n    }\n\n    sortableOrders.sort((a, b) => a.optimized_step - b.optimized_step);\n\n    // Xây routeCoords: nếu có lat/lng thực dùng pixel; không thì không gán x/y để frontend tự layout vòng tròn\n    let routeCoords = sortableOrders.map((item, idx) => {\n        let pt = { \n            step: idx + 1,\n            id: item.order.id || \"Đơn hàng\", \n            weight: item.order.weight + \"kg\"\n        };\n        if (hasRealCoords) {\n            const px = latLngToPixel(item.order.lat, item.order.lng, allOrdersFlat, 280, 220, 20);\n            if (px) { pt.x = px.x; pt.y = px.y; }\n        }\n        return pt;\n    });\n\n    mapTrips.push({\n        name: t.vehicle === \"TRUCK\" ? `Xe Tải ${index+1}` : `Xe Máy ${index+1}`,\n        color: t.vehicle === \"TRUCK\" ? \"#f59e0b\" : \"#3b82f6\",\n        route: routeCoords\n    });\n\n    return {\n        tripName: \"Chuyến \" + (index + 1) + (t.vehicle === \"TRUCK\" ? \" (Xe Tải)\" : \" (Xe Máy)\"),\n        distance: distKm + \" km\",\n        totalOrders: t.orders.length,\n        breakdown_fee: {\n            \"Phí cơ bản\": phiCoBan,\n            \"Phí quãng đường\": phiKm,\n            \"Phí rớt điểm\": phiRotDiem,\n            \"Phí dễ vỡ\": phiDeVo,\n            \"Phí thời tiết\": WEATHER_SURCHARGE\n        },\n        totalTripCost: Math.round(tongChuyen) + \" VNĐ\"\n    };\n});\n\n// 3. BÁO CÁO TỔNG KẾT\nlet tietKiem = Math.round(tongGiaoLe - tongGop);\nlet msgRain = originalTrips[0] && originalTrips[0].isRaining ? \"⚠️ Đà Nẵng đang mưa, hệ thống tự động cộng phụ phí thời tiết.\" : \"☀️ Thời tiết đẹp, không có phụ phí rủi ro.\";\n\n// Tọa độ kho (Đà Nẵng): nếu có lat/lng thực mới tính pixel kho\nlet depotPx = null;\nif (hasRealCoords) {\n    depotPx = latLngToPixel(16.065, 108.215, allOrdersFlat, 280, 220, 20);\n}\n\nlet finalResponse = {\n    chatbot_message: `<b>Sếp ơi, em đã tối ưu xong!</b><br>${msgRain}<br>Gom thành công <b>${finalTrips.length} chuyến xe</b>.<br>🚀 Lộ trình đi giao đã được thuật toán AI sắp xếp lại ngắn nhất (Shipper không phải quay đầu).<br>💰 Thuật toán giúp sếp <b>TIẾT KIỆM ĐƯỢC ${tietKiem.toLocaleString('vi-VN')} VNĐ</b> so với giao lẻ!`,\n    invoices: finalTrips,\n    map_data: {\n        depot: { id: \"KHO\", name: \"KHO TỔNG\", x: depotPx ? depotPx.x : null, y: depotPx ? depotPx.y : null },\n        trips: mapTrips\n    }\n};\n\nreturn [{ json: finalResponse }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        128
      ],
      "id": "e7bf0f94-2222-4171-b409-77dda15630cb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Da Nang&appid=9fc4a547b9a7546e1156b51d33af4c8f&lang=vi&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1824,
        32
      ],
      "id": "ee952853-3042-45a5-bb9c-5a70c69f672b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.orders.length }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "04b59d5e-c233-4aed-b5c4-eaf35b30794c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4480f76e-1fae-4e5f-b2ee-0dc9a4dae527",
                    "leftValue": "={{ $('Webhook').item.json.body.orders.length }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1632,
        32
      ],
      "id": "8fc775f5-74ff-4bed-ac97-3ffcc0eac218",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu Đầu vào và Thời tiết (Trường hợp 1 đơn vẫn có Thời tiết vì nó chạy qua API thời tiết rồi)\nconst rawData = $('Webhook').item.json.body;\nconst weatherData = $('HTTP Request1').item.json; \nconst orders = rawData.orders || [];\n\n// Kiểm tra thời tiết để \"cà khịa\"\nconst weatherId = weatherData.weather[0].id;\nconst isRaining = weatherId < 700;\nlet weatherMsg = isRaining ? \"⛈️ Đà Nẵng đang mưa to, sếp nhớ boa thêm tiền cho anh em shipper nhé!\" : \"☀️ Trời đang nắng ráo, book một phát có xế ngay!\";\n\nlet msg = \"\";\n\n// Nếu Web ném sang mảng rỗng (0 đơn)\nif (orders.length === 0) {\n    msg = `<b>Sếp đùa em à?</b> 🤬<br>Chưa có đơn hàng nào mà bắt em chạy thuật toán tối ưu! Ném thêm đơn vào đây cho em làm việc!`;\n} \n// Nếu Web ném sang đúng 1 đơn\nelse {\n    msg = `<b>Báo cáo sếp: Không cần dùng Dao Mổ Trâu để giết Gà!</b> 🐓<br>Hệ thống phát hiện chỉ có vỏn vẹn <b>1 đơn hàng</b> (Mã: ${orders[0].id}).<br>Thuật toán gộp chuyến từ chối hoạt động vì không cần thiết. Đề xuất sếp book thẳng GrabExpress hoặc Ahamove cho nhanh gọn lẹ!<br><br><i>${weatherMsg}</i>`;\n}\n\n// Trả về JSON chuẩn form để Laravel không bị lỗi (Để mảng rỗng cho hóa đơn và bản đồ)\nreturn [{\n    json: {\n        chatbot_message: msg,\n        invoices: [], \n        map_data: {\n            depot: { id: \"KHO\", name: \"KHO TỔNG\", x: 250, y: 250 },\n            trips: []\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        -144
      ],
      "id": "5dccdce7-5c6a-4765-96a4-7b68b360b170",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1216,
        -176
      ],
      "id": "bae17742-523f-42f7-85ef-1ea61b5b3e5a",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5ece1336-69a5-4c96-8084-af26ff1c9aaf",
  "meta": {
    "instanceId": "ccd245c7789a7fa6fbebf8f4ac02c10f5def7c00eea7d6fde7f7ca90e02f914e"
  },
  "id": "zIgeiVI92F2aAwKC",
  "tags": []
}