n8n-workflows/Tối ưu nhanh.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "toi-uu-logistics",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        208
      ],
      "id": "8bdb4eb6-6c76-40d7-b3b5-24406df26efb",
      "name": "Webhook",
      "webhookId": "7e4fcc97-1ea5-4bdd-8c8f-f25c2fe75a50"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $('Webhook').item.json.body;\n// Đổi cách đọc dữ liệu thời tiết cho chuẩn OpenWeatherMap\nconst weatherData = $('HTTP Request1').item.json; \nconst orders = rawData.orders;\n\n// OpenWeatherMap quy ước: Các mã ID dưới 700 là thời tiết xấu (Mưa, Bão, Sấm chớp, Tuyết)\n// 800 là trời quang mây tạnh.\nconst weatherId = weatherData.weather[0].id;\nconst isRaining = weatherId < 700; \nconst weatherSurcharge = isRaining ? 15000 : 0;\n\nconst MAX_WEIGHT = 30; \nlet trips = [];\n\norders.forEach(order => {\n    let weight = parseFloat(order.weight);\n    let isFragile = (order.tinh_chat === \"FRAGILE\");\n\n    if (weight > MAX_WEIGHT) {\n        trips.push({ \n            tripId: trips.length + 1, \n            vehicle: \"TRUCK\", \n            totalWeight: weight, \n            surcharge: (isFragile ? 10000 : 0) + weatherSurcharge,\n            orders: [order] \n        });\n        return;\n    }\n\n    let placed = false;\n    for (let trip of trips) {\n        if (trip.vehicle === \"MOTORBIKE\" && (trip.totalWeight + weight) <= MAX_WEIGHT) {\n            trip.orders.push(order);\n            trip.totalWeight += weight;\n            trip.surcharge += (isFragile ? 10000 : 0);\n            placed = true;\n            break;\n        }\n    }\n\n    if (!placed) {\n        trips.push({ \n            tripId: trips.length + 1, \n            vehicle: \"MOTORBIKE\", \n            totalWeight: weight, \n            surcharge: (isFragile ? 10000 : 0) + weatherSurcharge, // Chỉ thu phí mưa 1 lần mỗi chuyến\n            orders: [order] \n        });\n    }\n});\n\n// Trả về kèm thông tin thời tiết để lát báo cáo\nreturn trips.map(trip => ({ \n    json: { \n        tripData: trip, \n        isRaining: isRaining \n    } \n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        384
      ],
      "id": "be230b3e-72f7-4796-9615-8d383b4a4cb6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        384
      ],
      "id": "3c55b88e-d193-4efe-896c-359aa2e3a059",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=http://router.project-osrm.org/trip/v1/driving/108.2150,16.0650;{{ $json.tripData.orders.map(order => order.lng + ',' + order.lat).join(';') }}?source=first&roundtrip=true",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        464
      ],
      "id": "a5209083-c29e-4766-b083-36abbbaa9631",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        304
      ],
      "id": "7c65ec26-1385-45ef-8a1e-381922c22e5a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy dữ liệu OSRM và Dữ liệu từ Node chia đơn\nconst osrmResults = $('HTTP Request').all(); \nconst originalTrips = $('Code in JavaScript').all().map(item => item.json);\n\nlet tongGiaoLe = 0; \nlet tongGop = 0; \nlet mapTrips = [];\n\n// 2. Kế toán tính tiền chi tiết & OSRM Sắp xếp Lộ trình\nconst finalTrips = osrmResults.map((osrmItem, index) => {\n    let t = originalTrips[index].tripData;\n    let isRain = originalTrips[index].isRaining;\n    let osrmData = osrmItem.json; \n    \n    // ... (Tính tiền giữ nguyên) ...\n    let distKm = parseFloat((osrmData.trips[0].distance / 1000).toFixed(1)); \n    let WEATHER_SURCHARGE = isRain ? 15000 : 0;\n    let phiCoBan = t.vehicle === \"TRUCK\" ? 50000 : 15000;\n    let phiKm = distKm * 5000;\n    let phiRotDiem = (t.orders.length - 1) * 5000;\n    \n    let phiDeVo = 0;\n    t.orders.forEach(o => {\n        let isFragile = (o.tinh_chat === \"FRAGILE\" || o.category === \"FRAGILE\");\n        if (isFragile) phiDeVo += 10000;\n        tongGiaoLe += 15000 + (isFragile ? 10000 : 0) + (distKm * 5000) + WEATHER_SURCHARGE;\n    });\n\n    let tongChuyen = phiCoBan + phiKm + phiRotDiem + phiDeVo + WEATHER_SURCHARGE;\n    tongGop += tongChuyen;\n\n    // --- LOGIC VẼ ĐƯỜNG P2P: TẠO NÚT LẤY & NÚT GIAO RIÊNG ---\n    let waypoints = osrmData.waypoints; \n    let sortableOrders = [];\n\n    for(let i = 1; i < waypoints.length; i++) {\n        sortableOrders.push({\n            order: t.orders[i-1], \n            optimized_step: waypoints[i].waypoint_index \n        });\n    }\n\n    sortableOrders.sort((a, b) => a.optimized_step - b.optimized_step);\n\n    let routeCoords = [];\n    let stepCount = 1;\n\n    // Duyệt qua từng đơn, tạo 1 nút LẤY (màu đỏ cam) và 1 nút GIAO (màu xanh)\n    sortableOrders.forEach(item => {\n        // Tọa độ người GỬI (Lấy hàng)\n        routeCoords.push({ \n            step: stepCount++, \n            type: \"PICK\",\n            id: item.order.id + \" (Lấy)\", \n            x: item.order.s_x_pixel || Math.floor(Math.random() * 300 + 50),\n            y: item.order.s_y_pixel || Math.floor(Math.random() * 300 + 50)  \n        });\n\n        // Tọa độ người NHẬN (Giao hàng)\n        routeCoords.push({ \n            step: stepCount++, \n            type: \"DROP\",\n            id: item.order.id + \" (Giao)\", \n            x: item.order.x_pixel || Math.floor(Math.random() * 300 + 50),\n            y: item.order.y_pixel || Math.floor(Math.random() * 300 + 50)  \n        });\n    });\n\n    mapTrips.push({\n        name: t.vehicle === \"TRUCK\" ? `Xe Tải ${index+1}` : `Xe Máy ${index+1}`,\n        color: t.vehicle === \"TRUCK\" ? \"#f59e0b\" : \"#3b82f6\",\n        route: routeCoords\n    });\n\n    return {\n        tripName: \"Chuyến \" + (index + 1) + (t.vehicle === \"TRUCK\" ? \" (Xe Tải)\" : \" (Xe Máy)\"),\n        distance: distKm + \" km\",\n        totalOrders: t.orders.length,\n        totalTripCost: Math.round(tongChuyen) + \" VNĐ\"\n    };\n});\n\n// 3. TÍNH TOÁN \"TÂM\" BẢN ĐỒ DỰA TRÊN NGƯỜI GỬI\nlet firstTrip = originalTrips[0]?.tripData;\nlet firstOrder = firstTrip?.orders[0];\n\n// Nếu có tọa độ pixel của người gửi thì lấy làm Depot, không thì để 250 (giữa radar)\nlet startX = firstOrder?.s_x_pixel || 250;\nlet startY = firstOrder?.s_y_pixel || 250;\nlet startName = firstOrder?.s_x_pixel ? \"ĐIỂM LẤY HÀNG\" : \"KHO TỔNG\";\n\nlet tietKiem = Math.round(tongGiaoLe - tongGop);\nlet msgRain = originalTrips[0]?.isRaining ? \"⚠️ Đà Nẵng đang mưa, em đã tự động cộng phụ phí.\" : \"☀️ Trời đẹp, không có phụ phí rủi ro.\";\n\nlet finalResponse = {\n\n    chatbot_message: `<b>Sếp ơi, em đã tối ưu xong!</b><br>${msgRain}<br>Gom thành công <b>${finalTrips.length} chuyến xe</b>.<br>🚀 Lộ trình đi giao đã được thuật toán AI sắp xếp lại ngắn nhất (Shipper không phải quay đầu).<br>💰 Thuật toán giúp sếp <b>TIẾT KIỆM ĐƯỢC ${tietKiem.toLocaleString('vi-VN')} VNĐ</b> so với giao lẻ!`,\n\n    invoices: finalTrips, // Trả về Hóa đơn chi tiết đầy đủ\n\n    map_data: { // Trả về data vẽ bản đồ (đã có biến step: 1, 2, 3...)\n        depot: { id: \"START\", name: startName, x: startX, y: startY },\n        trips: mapTrips\n    }\n};\n\nreturn [{ json: finalResponse }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        304
      ],
      "id": "04e9833c-d1ea-4a36-9238-d2a6db81e7b6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Da Nang&appid=9fc4a547b9a7546e1156b51d33af4c8f&lang=vi&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        208
      ],
      "id": "d6d5c20d-acd7-4b01-8c03-90508473957e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.orders.length }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "04b59d5e-c233-4aed-b5c4-eaf35b30794c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4480f76e-1fae-4e5f-b2ee-0dc9a4dae527",
                    "leftValue": "={{ $('Webhook').item.json.body.orders.length }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -416,
        208
      ],
      "id": "f5ad20e1-37f8-4bc8-9b37-014c52b59757",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu Đầu vào và Thời tiết (Trường hợp 1 đơn vẫn có Thời tiết vì nó chạy qua API thời tiết rồi)\nconst rawData = $('Webhook').item.json.body;\nconst weatherData = $('HTTP Request1').item.json; \nconst orders = rawData.orders || [];\n\n// Kiểm tra thời tiết để \"cà khịa\"\nconst weatherId = weatherData.weather[0].id;\nconst isRaining = weatherId < 700;\nlet weatherMsg = isRaining ? \"⛈️ Đà Nẵng đang mưa to, sếp nhớ boa thêm tiền cho anh em shipper nhé!\" : \"☀️ Trời đang nắng ráo, book một phát có xế ngay!\";\n\nlet msg = \"\";\n\n// Nếu Web ném sang mảng rỗng (0 đơn)\nif (orders.length === 0) {\n    msg = `<b>Sếp đùa em à?</b> 🤬<br>Chưa có đơn hàng nào mà bắt em chạy thuật toán tối ưu! Ném thêm đơn vào đây cho em làm việc!`;\n} \n// Nếu Web ném sang đúng 1 đơn\nelse {\n    msg = `<b>Báo cáo sếp: Không cần dùng Dao Mổ Trâu để giết Gà!</b> 🐓<br>Hệ thống phát hiện chỉ có vỏn vẹn <b>1 đơn hàng</b> (Mã: ${orders[0].id}).<br>Thuật toán gộp chuyến từ chối hoạt động vì không cần thiết. Đề xuất sếp book thẳng GrabExpress hoặc Ahamove cho nhanh gọn lẹ!<br><br><i>${weatherMsg}</i>`;\n}\n\n// Trả về JSON chuẩn form để Laravel không bị lỗi (Để mảng rỗng cho hóa đơn và bản đồ)\nreturn [{\n    json: {\n        chatbot_message: msg,\n        invoices: [], \n        map_data: {\n            depot: { id: \"KHO\", name: \"KHO TỔNG\", x: 250, y: 250 },\n            trips: []\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        32
      ],
      "id": "d3db8a4b-6c53-46de-89f8-64889134f2f3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "ff1942bc-491a-4147-baa2-eddf0615f572",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dea7a878-1fde-4e43-ac79-d4ad37a65e91",
  "meta": {
    "instanceId": "06d08ae9bd493af0b1767c4436cf4151d536e3fef103f815b9e2eb87ba44bfad"
  },
  "id": "N1hGClgtcK0dI5zG",
  "tags": []
}