n8n-workflows/Điều phối kho Giao Hàng.json
{
  "name": "Điều phối kho Giao Hàng",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -864,
        352
      ],
      "id": "b5a01ae4-3239-4d60-baac-d571d49bb4f1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "63e5ae78-dff6-4328-ab4d-c619095799e1",
              "leftValue": "={{ $json.weight }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        352
      ],
      "id": "74f889d8-5d99-437d-99db-778c72a68fc3",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec6c5b2-5ece-4db7-912a-4faf4e48c790",
              "name": "shipper",
              "value": "Giao Hang Tiet Kiem",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        96
      ],
      "id": "bf45451a-a547-492a-a26d-19b03a6586fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8395eea-6b4d-483f-b519-389db2b12e3f",
              "name": "shipper",
              "value": "Viettel Post",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        240
      ],
      "id": "1b524c71-edbe-4aa1-afc2-d8c5765c2674",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        368
      ],
      "id": "51f48e94-5302-4e63-b3da-ec80cefadc98",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        352
      ],
      "id": "e67fd5ea-e30a-4db3-939f-91d42ebd1d86",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e5f866b8-bab0-49d3-b7e3-e3b8fa8f079a",
              "leftValue": "={{ $json.distance_km }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "4f649abd-6ea0-4b25-b84b-f88533930d18",
              "leftValue": "={{ $json.packageWeight }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "0ffe2f77-9288-4b8b-8430-2d3bddaae915",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69a2cd38-ee04-43ee-aac4-709e42389511",
              "name": "status",
              "value": "CANCELLED",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        352
      ],
      "id": "4174c39d-749f-44e9-a916-b91ef1bd65df",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04da323f-3317-47a3-81bf-b6c3656e1821",
              "name": "shipping_fee",
              "value": "={{ 15000 + ($json.distance_km * 5000) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "2f5ec2d1-2bc3-4f69-a8bf-0967d3641d97",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -912,
        752
      ],
      "id": "31509051-06d9-4625-855e-6cc4cc6e36df",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "fromEmail": "lehuuthai57@gmail.com",
        "toEmail": "thailh.23ite@vku.udn.vn",
        "subject": "Báo Cáo Cuối Ngày",
        "html": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f7f6; padding: 30px 10px;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background: #ffffff; padding: 30px; border-radius: 10px; box-shadow: 0 5px 15px rgba(0,0,0,0.05); border-top: 6px solid #007bff;\">\n    \n    <h2 style=\"text-align: center; color: #2b2b2b; margin-bottom: 5px;\">📊 BÁO CÁO VẬN HÀNH</h2>\n    <p style=\"text-align: center; color: #888888; margin-top: 0; margin-bottom: 30px; font-size: 14px;\">Cập nhật cuối ngày từ Hệ thống Tự động</p>\n    \n    <p style=\"color: #444444; font-size: 16px;\">Chào Sếp,</p>\n    <p style=\"color: #444444; font-size: 16px; line-height: 1.6;\">Hệ thống n8n xin gửi báo cáo tổng hợp tình hình điều phối đơn hàng tính đến thời điểm hiện tại như sau:</p>\n\n    <div style=\"background: #f8f9fa; border: 1px solid #e9ecef; border-left: 5px solid #28a745; border-radius: 6px; padding: 20px; margin-bottom: 20px;\">\n      <p style=\"font-size: 15px; color: #6c757d; margin: 0; text-transform: uppercase; letter-spacing: 1px;\">📦 Tổng số đơn đã xử lý</p>\n      <p style=\"font-size: 32px; font-weight: bold; color: #28a745; margin: 10px 0 0 0;\">\n        {{ $json.tong_don }} <span style=\"font-size: 18px; font-weight: normal; color: #666;\">đơn</span>\n      </p>\n    </div>\n\n    <div style=\"background: #f8f9fa; border: 1px solid #e9ecef; border-left: 5px solid #ffc107; border-radius: 6px; padding: 20px; margin-bottom: 30px;\">\n      <p style=\"font-size: 15px; color: #6c757d; margin: 0; text-transform: uppercase; letter-spacing: 1px;\">💰 Tổng doanh thu cước phí</p>\n      <p style=\"font-size: 32px; font-weight: bold; color: #d39e00; margin: 10px 0 0 0;\">\n        {{ $json.tong_tien }} <span style=\"font-size: 18px; font-weight: normal; color: #666;\">VNĐ</span>\n      </p>\n    </div>\n\n    <p style=\"color: #444444; font-size: 16px; line-height: 1.6;\">Hệ thống vẫn đang tiếp tục giám sát và tự động điều phối 24/7. Chúc Sếp buổi tối vui vẻ!</p>\n    \n    <div style=\"text-align: center; margin-top: 40px; border-top: 1px dashed #dddddd; padding-top: 20px;\">\n      <p style=\"color: #aaaaaa; font-size: 12px; margin: 0;\">\n        <i>🚀 Gửi tự động từ <b>Delivery Automation Platform</b></i><br>\n        <i>Powered by n8n & Docker</i>\n      </p>\n    </div>\n\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -368,
        752
      ],
      "id": "c6b0b0d1-98e9-4000-8e1d-16099090677d",
      "name": "Send an Email",
      "webhookId": "d1fc92da-015a-4efa-b370-033ca3dde240",
      "credentials": {
        "smtp": {
          "id": "m4gPse3lWHTgNDDd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://192.168.114.44:8080/api/orders/status/AI_PROCESSED",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -656,
        352
      ],
      "id": "bfa007a3-5223-4526-90e3-6ffd3d2decf4",
      "name": "Execute a SQL query4"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://192.168.114.44:8080/api/orders/{{ $json.id }}/status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"DELIVERING\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        96
      ],
      "id": "c7c57234-b7b1-4276-8035-57c25b49d622",
      "name": "Execute a SQL query2"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://192.168.114.44:8080/api/orders/{{ $json.id }}/assign-delivery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"DELIVERING\",\n  \"shipper\": \"{{ $json.shipper }}\",\n  \"shippingFee\": {{ $json.shippingFee }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        368
      ],
      "id": "80b197b9-0bb7-4815-8342-9dbd521ef52f",
      "name": "Execute a SQL query"
    },
    {
      "parameters": {
        "url": "http://192.168.114.44:8080/api/orders/stats",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -640,
        752
      ],
      "id": "b1378d7b-89a4-4d5a-b14a-18af49da7b5a",
      "name": "Execute a SQL query5"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Execute a SQL query5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query5": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a78bf593-c22f-48d0-80ae-a06276d7ca44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41a423f4825653465e2469bf71de92a24ac991e284c54f9bff05c348b90ad7af"
  },
  "id": "5vLYoGE57pudgQjO",
  "tags": []
}